@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

@mixin h2 {
  margin: 0;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;

  @include viewport--md {
    font-size: 20px;
    line-height: 27px;
  }
}

@mixin reset-btn {
  padding: 0;
  background-color: transparent;
  line-height: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
