<header class="header">
  <div class="header__wrapper">
    <button onclick="document.querySelector('.hamburger').classList.toggle('hamburger--active')"
      class="hamburger hamburger--activ e" type="button" aria-label="Open mobile menu" aria-pressed="false">
      <span class="hamburger__top"></span>
      <span class="hamburger__mid"></span>
      <span class="hamburger__bot"></span>
    </button>
    <a class="header__logo" href="#">
      <img src="./img/svg/logo_site.svg" alt="Логотип" width="295" height="44">
    </a>
    <button class="btn btn__icon" type="button" aria-label="Show help contacts">
      <svg viewBox="0 0 44 44" width="44" height="44">
        <use xlink:href="#icon_help"></use>
      </svg>
    </button>

    <!-- <nav class="main-nav">
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==0) { href="#" }>Страница 1</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==1) { href="#" }>Страница 2</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==2) { href="#" }>Страница 3</a>
          </li>
        </ul>
      </div>
    </nav> -->
  </div>
</header>
